* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a:link {
    color: #3b579d;
    text-decoration: none;
}

a:active, a:hover, a:visited {
    color: #223E84;
}

a:active, a:hover {
    text-decoration: underline;
}

aside {
    font-size: .8em;
    font-style: italic;
}

body {
    background: url(noise.png) repeat fixed, url(background.png) repeat fixed;
    color: #000;
    font: 16px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 32px 0;
    padding: 0 16px;
}

footer {
    font-size: .7em;
    text-align: right;
    margin: 32px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 1em;
}

header {
    margin: 32px 0;
    text-align: center;
}

hr {
    border: none;
    border-top: 3px double #000;
    margin: 32px auto;
    min-width: 256px;
    width: 50%;
}

img {
    vertical-align: top;
}

input {
    background: #8C927C;
    background: rgba(0,0,0,0.1);
    border: 1px solid #727862;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 4px 8px;
}

p, table {
    margin: 0 0 16px 0;
}

td, th {
    padding-right: 16px;
    text-align: left;
    vertical-align: top;
}

.button {
    background: #727862;
    background: rgba(0,0,0,0.3);
    border: none;
    border-radius: 8px;
    color: #fff !important;
    display: inline-block;
    padding: 8px 16px;
}

.button:active, .button:hover {
    background: #262C16;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

.button + .button {
    margin-left: 16px;
}

.center {
    text-align: center;
}

.center .flyer {
    float: none;
    max-width: 320px;
    margin: 0 auto;
    padding: 32px;
    position: absolute;
    top: 0; right: 0;
}

.event:after {
    clear: both;
    content: " ";
    display: table;
}

.first {
    white-space: nowrap;
}

.first:after {
    content: " \2013 ";
}

.flyer {
    display: block;
    float: right;
    max-width: 96px;
    margin-bottom: 1em;
}

.flyer img {
    width: 100%;
}

.index {
    font-size: 2em;
    line-height: 0.5;
    display: inline-block;
    position: relative;
    top: 0.1875em;
}

.people {
    width: 100%;
}

.people th {
    width: 30%;
}

.print {
    display: none;
}

.schedule th {
    text-align: right;
}

@media (min-width: 990px) and (min-height: 500px) {
    body {
        margin-left: 25%;
        margin-right: 20%;
        padding: 0 32px;
    }

    footer {
        position: fixed;
        bottom: 0; left: 0;
        text-align: center;
        width: 25%;
    }

    header {
        border-right: 3px double #000;
        border-bottom: none;
        position: fixed;
        top: 0; bottom: 0; left: 0;
        width: 25%;
    }

    .center .flyer {
        width: 25%;
    }
}

@media (max-width: 990px) {
    tr, th, td {
        display: block;
        padding: 0;
    }

    tr {
        margin-bottom: 16px;
    }

    .center .flyer {
        position: static;
    }

    .first {
        display: block;
    }

    .first:after {
        content: '';
    }

    .schedule th {
        float: left;
        text-align: left;
    }

    .schedule th + td {
        font-weight: bold;
        text-align: right;
    }
}

@media print {
    header {
        font-weight: normal;
        text-align: left;
    }

    header img {
        float: left;
        margin: -16px 8px 0 0;
        vertical-align: bottom;
        width: 50px; height: 73.5px;
    }

    .print {
        display: block;
    }
}
