* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a:link {
    color: #3b579d;
    text-decoration: none;
}

a:active, a:hover, a:visited {
    color: #223E84;
}

a:active, a:hover {
    text-decoration: underline;
}

aside {
    font-size: .8em;
    font-style: italic;
}

body {
    background: #a5ab95 url(http://bgacb.github.io/green_cup.png) repeat fixed;
    color: #000;
    font: 16px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 32px 0;
    padding: 0 16px;
}

footer {
    font-size: .7em;
    text-align: right;
    margin: 32px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 1em;
}

header {
    margin: 32px 0;
    text-align: center;
}

hr {
    border: none;
    border-top: 3px double #000;
    margin: 32px auto;
    width: 50%;
}

p {
    margin: 0 0 16px 0;
}

td, th {
    padding-right: 16px;
    vertical-align: top;
}

th {
    text-align: right;
}

.center {
    text-align: center;
}

.first {
    white-space: nowrap;
}

.first:after {
    content: " \2013 ";
}

.patron a:link, .patron a:visited {
    background: #A9A9A9;
    background: rgba(0,0,0,0.34);
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
}

.patron a:active, .patron a:hover {
    background: #808080;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

.print {
    display: none;
}

@media (min-width: 990px) and (min-height: 500px) {
    body {
        margin-left: 25%;
        padding: 0 32px;
    }

    footer {
        position: fixed;
        bottom: 0; left: 0;
        text-align: center;
        width: 25%;
    }

    header {
        border-right: 3px double #000;
        border-bottom: none;
        position: fixed;
        top: 0; bottom: 0; left: 0;
        width: 25%;
    }
}

@media (max-width: 990px) {
    tr, th, td {
        display: block;
        padding: 0;
    }

    th {
        float: left;
        text-align: left;
    }

    th + td {
        font-weight: bold;
        text-align: right;
    }

    tr {
        margin-bottom: 16px;
    }

    .first {
        display: block;
    }

    .first:after {
        content: '';
    }
}

@media print {
    header {
        font-weight: normal;
        text-align: left;
    }

    header img {
        float: left;
        margin: -16px 8px 0 0;
        vertical-align: bottom;
        width: 50px; height: 73.5px;
    }

    .print {
        display: block;
    }
}

